// reset vant


// /reset vant

// base common

.fade-enter-active, .fade-leave-active, .slide-left-enter-active, .slide-left-leave-active, .slide-right-enter-active, .slide-right-leave-active {
  transition: 0.3s;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}

.slide-left-enter, .slide-left-leave-active {
  transform: translate(100%, 0);
}

.slide-right-enter, .slide-right-leave-active {
  transform: translate(-100%, 0);
}